.btn {
  padding: ($spacer / 1.5) ($spacer * 2);
  border-radius: $spacer * 2;
  font-weight: normal;
  text-decoration: none;
  font-size: $spacer * 1.25;
  width: 100%;
  max-width: $button-width;

  // Default
  background-color: #17a2b8;
  color: white;

  &:hover {
    background-color: white;
    color: #17a2b8;
  }

  &--block {
    display: block;
  }

  &--auto {
    max-width: none;
    width: auto;
    display: inline-block;
  }
}