.carousel {
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  @include media-breakpoint-down(sm) {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }

  &__item {
    padding: $spacer;
    img {
      &.slide {
        animation-name: slide;
        animation-duration: .3s;
        animation-fill-mode: forwards;
      }
    }
    &-content {
      width: 90%;
      margin-top: -$spacer * 2;
      background-color: $gray-light;
      padding: $spacer * 2;
      position: relative;
      z-index: 1;

      @include media-breakpoint-up(md) {
        width: 80%;
        margin-left: 15%;
      }

      p {
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slick-arrow {
    background-color: $orange;
    top: auto;
    transform: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    transition: $transition-base;
    display: block;

    &.slick-prev {
      bottom: calc(#{$spacer} + 55px);
      right: 8.5%;
      left: auto;

      &:before {
        content: "\2190";
      }

      @include media-breakpoint-up(md) {
        bottom: $spacer;
        left: 1.5%;
        right: auto;
      }
    }
    &.slick-next {
      bottom: $spacer;
      right: 8.5%;

      &:before {
        content: "\2192";
      }

      @include media-breakpoint-up(md) {
        right: 2%;
      }
    }
  }

  .slick-dots {
    width: 15px;
    right: $spacer * 1.5;
    bottom: 120px;

    @include media-breakpoint-up(md) {
      bottom: $spacer * 4;
    }

    li {
      display: block;
      margin-bottom: $spacer / 2;
      width: 15px;
      height: 15px;
      button {
        padding: 0;
        border-radius: 10px;
        border: 3px solid black;
        width: 15px;
        height: 15px;
        position: relative;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: white;
          border-radius: 10px;
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }

    }
  }
}