.footer {
  padding: $spacer * 2 0;
  padding-top: calc(#{$spacer} + 70px);
  background-color: $gray;
  color: white;
  @include media-breakpoint-up(md) {
    padding-top: $spacer * 2;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: $spacer * 2 0 $spacer;
  }

  &__logo {
    width: 200px;
    padding-bottom: $spacer;
  }

  &__links {
    padding: 0 0 $spacer;
    list-style: none;
    display: block;
    margin-bottom: 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }

    li {
      display: block;
      padding-bottom: $spacer / 2;
      @include media-breakpoint-up(md) {
        display: inline-block;
      }

      &:last-child {
        padding-bottom: 0;
      }

      a {
        font-size: $font-size-lg;
        line-height: 2;
        @include media-breakpoint-up(lg) {
          margin-right: $spacer;
        }
        @include media-breakpoint-down(md) {
          margin-right: -0.5rem;
        }
      }
    }

    &--social {

      @include media-breakpoint-up(xl) {
        padding-left: $spacer * 3;
      }

      li {
        display: inline-block;
        margin-right: $spacer * 1.25;
        padding-bottom: 0;

        @include media-breakpoint-up(md) {
          margin-right: $spacer * 1.15;
        }

        @include media-breakpoint-up(lg) {
          margin-right: $spacer / 1.5;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: white;
          line-height: 1;
          transition: $transition-base;
          text-decoration: none;
          font-size: 2 * $spacer;

          &:hover,
          &:focus {
            color: $orange;
            text-decoration: none;
          }

        }
      }

    }
  }

  .btn {
    margin-left: auto;
    margin-right: 0;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  &__copyright {
    text-align: center;
  }
}