.greyBoxes {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  @include media-breakpoint-down(lg) {
    margin: 0;
    padding-top: $spacer;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }

  .container {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }
  }

  &__item {
    position: relative;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    padding: $spacer * 1.5 $spacer * 2;
    border: 0;
    background-color: $gray-light;
    width: 100%;
    text-align: left;
    color: $gray-dark;
    margin: 0;

    @media (max-width: 359px) {
      padding: $spacer * 1.5 $spacer;
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: $spacer 0 0 0;

    li {
      display: block;
      width: 100%;
      padding-right: $spacer;
      padding-bottom: $spacer / 2;

      @include media-breakpoint-up(md) {
        display: inline-block;
        padding-bottom: $spacer;
      }

      a {
        color: black;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }

  &__trigger {
    position: absolute;
    top: $spacer;
    right: -10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $orange;
    z-index: 2;
    border: 0;
    color: white;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &:after {
      content: "\2191";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.active {
      &:after {
        content: "\2193";
      }
    }
  }

  &__inner {
    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      display: flex;
    }
  }

  &__content {
    padding: $spacer * 2;
    padding-top: 0;
    background-color: $gray-light;
    color: $gray-dark;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(lg) {
      min-height: initial !important;
    }

  }

  &__links {
    align-self: flex-end;
  }
}