.header {
  background-color: $gray;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: $transition-base;
  padding: $spacer 0;

  @include media-breakpoint-up(md) {
    padding: $spacer * 2 0;
  }

  &__container {
    height: 100%;
    padding: 0 $spacer;
    margin: 0 auto;
    max-width: $containter-content-max;
  }

  &__logo {
    display: inline-block;
    img {
      width: 160px;
      max-height: 80px;
      transition: $transition-base;

      @include media-breakpoint-up(md) {
        width: 220px;
      }
    }
  }

  &.collapsed {
    padding: $spacer 0;

    .header__logo {
      img {
        width: 160px;
      }
    }

  }
}