.imageWithTextBox {
  background-color: $gray-light;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 2) 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__container {
    position: relative;
  }

  &__row {
    @include media-breakpoint-up(xl) {
      min-height: 340px;
    }
    &:after {
      @include media-breakpoint-up(xl) {
        content: "";
        min-height: inherit;
        font-size: 0;
        display: block;
      }
    }
  }

  &__content {
    color: white;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }

    &-bg {
      padding: $spacer * 2;
      background-color: $gray;

      &.yellow {
        background-color: $orange;
      }
    }
  }

  &__img {
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-up(sm) {
      padding-right: $grid-gutter-width / 2;
      padding-left: $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      &.image-on-left {
        left: 0;
      }
    }

    img {
      width: 100%;
    }
  }

  .title {
    @include box-title-inherited-colours();
  }
}