.link {
  color: $gray;
  text-decoration: underline;
  &:hover {
    color: $gray-light;
  }

  &--white {
    color: white;
    &:hover {
      color: $orange;
    }
  }
  &--orange {
    color: $orange;
    &:hover {
      color: $orange;
    }
  }
}