.nav {
  transition: $transition-base;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  width: 100%;
  max-width: 20 * $spacer;
  background-color: $gray-dark;
  transform: translateX(100%);

  @include media-breakpoint-up(md) {
    width: 60%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 40%;
  }

  ul {
    padding-top: 15%;
    padding-left: 10%;
    width: 100%;
    max-height: 100%;
    overflow: auto;

    @include media-breakpoint-up(md) {
      padding-top: 20%;
      padding-left: 15%;
    }

    li {
      display: block;
      a {
        color: white;
        font-family: $headings-font-family;
        font-size: $h3-font-size;
        text-decoration: none;
        padding: $spacer * .8;
        display: block;
        transition: $transition-base;

        @include media-breakpoint-up(sm) {
          font-size: $h2-font-size;
        }

        &:hover {
          color: $orange;
        }

      }
    }
  }

  &.active {
    transform: translateX(0);
  }

  &.collapsed {
    .apply-btn-on-navbar {
      top: $spacer;
    }
  }

}

.nav-toggle {
  position: fixed;
  z-index: 501;
  top: $spacer * .9;
  right: $spacer;
  background-color: $gray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  transition: $transition-base;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    height: 68px;
    width: 68px;
    top: $spacer * 1.7;
  }

  &__burger {
    height: 3px;
    width: 40%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: $transition-base;
    &:before,
    &:after {
      content: '';
      background-color: white;
      transition: $transition-base;
      height: 3px;
      width: 100%;
      position: absolute;
      top: -6px;
      left: 0;
      border-radius: 2px;
      @include media-breakpoint-up(md) {
        top: -8px;
      }
    }
    &:after {
      top: 6px;
      @include media-breakpoint-up(md) {
        top: 8px;
      }
    }
  }

  &:hover {
    background-color: white;
    .nav-toggle__burger {
      background-color: $gray;
      &:before,
      &:after {
        background-color: $gray;
      }
    }
  }

  &.collapsed {
    @include media-breakpoint-up(md) {
      height: 55px;
      width: 55px;
      top: $spacer * .7;
    }
    .nav-toggle__burger {
      &:before,
      &:after {
        @include media-breakpoint-up(md) {
          top: -6px;
        }
      }
      &:after {
        @include media-breakpoint-up(md) {
          top: 6px;
        }
      }
    }
  }

  &.active {
    background-color: $gray;
    .nav-toggle__burger {
      background-color: transparent;

      &:before {
        top: 0;
        transform: rotate(45deg);
        background-color: white;
      }

      &:after {
        top: 0;
        transform: rotate(-45deg);
        background-color: white;
      }
    }
  }

}