body {
  overflow-x: hidden;
  color: $font-color;
  font-family: Arial, sans-serif;
  padding-top: 76px;

  @include media-breakpoint-up(md) {
    padding-top: 125px;
  }
}

p {
  font-size: $spacer;
  line-height: $spacer * 1.5;
}

a {
  transition: $transition-base;
}

img {
  max-width: 100%;
}