.title {
    font-size: $spacer * 1.625;
}

.subtitle {
    font-size: $spacer * 1.25;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-timing-function: linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.no-js {
    display: block;
    padding: $spacer;
    text-align: center;
    font-weight: $font-weight-bold;
}

// Background colours
.bg-black {
    background-color: black !important;
}

.bg-gray-dark {
    background-color: $gray-dark !important;
}

.bg-gray-light {
    background-color: $gray-light !important;
}

.bg-gray {
    background-color: $gray !important;
}

.bg-white {
    background-color: white !important;
}

.bg-orange {
    background-color: $orange !important;
}

// Text colours
.text-black {
    color: black !important;
}

.text-gray-dark {
    color: $gray-dark !important;
}

.text-gray-light {
    color: $gray-light !important;
}

.text-gray {
    color: $gray !important;
}

.text-white {
    color: white !important;
}

.text-orange {
    color: orange !important;
}