@mixin box-title-inherited-colours() {
  background-color: inherit;
  width: 100%;
  color: inherit;
  margin: 0;
  padding-bottom: $spacer / 2;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer;
  }
}